*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 30%;
    background: #0d1b42;
    color: white;
    /* text-align: center; */
    font-size: 30px;
    line-height: 80px;
    /* padding: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1{
    text-transform: uppercase;
}

.header p{
    text-transform: capitalize;
    font-style: italic;
}

.container{
    background: rgb(242, 242, 242);
    width: 100%;
    height: 195%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 13px;
    padding-top: 13px;

}

.aboutme{
    width: 85%;
    padding: 45px;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
}

.aboutme > h2{
    text-transform: uppercase;
    margin: 25px;
}

.education{
    background: rgb(168, 204, 255);
    width: 85%;
    padding: 45px;
    font-size: 25px;
    border-radius: 10px;
}

.education > h2{
    text-transform: uppercase;
    margin: 25px;
}

.schools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schools > p{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
}

.skill{
    background: rgb(255, 241, 172);
    width: 85%;
    padding: 45px;
    font-size: 25px;
    border-radius: 10px;
}

.project{
    background: rgb(213, 205, 255);
    width: 85%;
    padding: 45px;
    font-size: 25px;
    border-radius: 10px;
}

.contactme{
    background: rgb(197, 255, 208);
    width: 85%;
    padding: 45px;
    font-size: 25px;
    border-radius: 10px;
}

.footer{
    width: 100%;
    height: 8%;
    color: white;
    background: #0d1b42;
    display: flex;
    justify-content: center;
    align-items:center;
}