@font-face {
    font-family: f2;
    src: url(./Old\ Money\ Font/OldMoneyV1a.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #E2E2E2;
}

#navbar{
    display: flex;
    width: 100%;
    /* background-color: rosybrown; */
    justify-content: space-between;
    font-family: f2;
    padding-top: 20px;
    
}

h3{
    font-size: 40px;
    padding-top: 15px;
    font-weight: 100;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 25px;
    font-weight: 100;
    font-size: larger;
}
li{
    padding-left: 20px;
    padding-right: 20px;
}

.bg{
    text-align: center;
    position: relative;
}
.bg h1{
    font-weight: 100;
    font-size: 300px;
    padding-top: 50px;
    font-family: Helvetica;
    color: #1F1F1F;
}

.img1{
    background: url(https://images.unsplash.com/photo-1764697907449-457a99bfe4d6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: 270px;
    height: 400px;
    position: absolute;
    right: 16%;
    top: 69%;
    z-index: 3;
}
.img2{
    background: url(https://plus.unsplash.com/premium_photo-1668319912803-388a0df3e46c?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 33%;
    top: 139%;
    z-index: 2;
}
.img3{
    background: url(https://images.unsplash.com/photo-1757970767422-e2d089d5fe57?q=80&w=878&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 46%;
    top: 109%;
}

.buttom-left{
    height: 300px;
    width: 250px;
    /* background: white; */
    position: absolute;
    bottom: 8%;
    padding: 20px;
    font-family: f2;
    line-height: 20px;
}
.buttom{
    margin-top: 20px;
}

h4{
    font-size: larger;
}
.buttom-bar{
    width: 80%;
    /* background-color: #e69191; */
    position: absolute;
    font-family: f2;
    font-size: 25px;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #1F1F1F;
}